# Credentials
credentials.json
.env
*.json
!dbt_project.json
!package-lock.json

# Python
__pycache__/
*.py[cod]
*.pyc
*$py.class
.venv/
venv/

# Poetry
poetry.lock

# dbt
dbt_marketing/dbt_internal_packages/
dbt_marketing/target/
dbt_marketing/dbt_packages/
dbt_marketing/logs/
dbt_marketing/*.log
logs/

# Data
data/raw/*.csv
data/processed/*.csv

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml